go 1.22.0

use (
	./Array
	./buildapi
	./closure
	./conditional
	./conversion
	./defer
	./files
	./function
	./handlingTime
	./hello
	./json
	./loop
	./methods
	./mod
	./pointer
	./string
	./struct
	./trim
	./urls
	./userinput
	./variables
	./variadic
	./webrequest
)
